adblockparser==0.7
aioredis==1.3.1
asgiref==3.4.1
async-timeout==3.0.1
asyncio-dgram==2.1.0
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
beautifulsoup4==4.6.3
blis==0.7.5
catalogue==2.0.6
certifi==2021.5.30
cffi==1.14.6
channels==3.0.4
channels-redis==3.3.0
chardet==3.0.4
charset-normalizer==2.0.7
cheroot==8.5.2
CherryPy==18.6.1
cherrypy-cors==1.6
click==8.0.3
Color-Console==10.0
constantly==15.1.0
cryptography==3.4.7
cymem==2.0.6
daphne==3.0.2
decorator==4.4.2
Django==3.2.5
django-crispy-forms==1.12.0
django-filter==2.4.0
django-taggit==2.0.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.1
dnspython==2.1.0
docopt==0.6.2
ExifRead==2.3.2
feedparser==6.0.2
future==0.18.2
github3.py==1.0.0a2
hiredis==2.0.0
html5lib==1.1
htmlmin==0.1.12
httpagentparser==1.9.1
hyperlink==21.0.0
idna==2.8
importlib-metadata==4.8.1
incremental==21.3.0
ipaddr==2.2.0
ipwhois==1.0.0
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
Jinja2==3.0.3
joblib==1.1.0
langcodes==3.3.0
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
mcstatus==6.5.0
mechanize==0.4.7
more-itertools==8.12.0
msgpack==1.0.2
murmurhash==1.0.6
mysqlclient==2.0.3
ndg-httpsclient==0.5.1
netaddr==0.8.0
networkx==2.5.1
numpy==1.22.1
packaging==21.3
pathy==0.6.1
phonenumbers==8.12.26
Pillow==9.0.0
portend==2.7.1
preshed==3.0.6
publicsuffixlist==0.7.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pygexf==0.2.2
PyJWT==2.1.0
pyOpenSSL==20.0.1
pyparsing==3.0.7
PyPDF2==1.26.0
PySocks==1.7.1
python-docx==0.8.11
python-pptx==0.6.19
python-whois==0.7.3
pytz==2021.1
redis==3.5.3
requests==2.21.0
requests-file==1.5.1
scikit-learn==1.0.2
scipy==1.7.3
secure==0.2.1
service-identity==21.1.0
sgmllib3k==1.0.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
soupsieve==2.2.1
sqlparse==0.4.1
srsly==2.4.2
tempora==4.1.1
termcolor==1.1.0
thinc==8.0.13
threadpoolctl==3.0.0
tldextract==2.2.0
tqdm==4.62.3
Twisted==21.7.0
txaio==21.2.1
typer==0.4.0
typing-extensions==3.10.0.0
uritemplate==3.0.1
uritemplate.py==3.0.2
urllib3==1.24.3
wasabi==0.9.0
webencodings==0.5.1
websockets==9.1
XlsxWriter==1.4.4
yarg==0.1.9
zc.lockfile==2.0
zipp==3.5.0
zope.interface==5.4.0
